* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

.open-acc-container {
  width: 100%;
  height: 100vh;
  background-color: #0C0C0E;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.open-acc-container h1 {
  font-weight: 300;
  font-size: 96px;
  text-align: center;
}

.info-description {
  font-size: 32px;
  text-align: center;
}

.open-acc-input-group {
  display: flex;
  gap: 25px;
}

.open-acc-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.open-acc-form button {
  margin-top: 50px;
}

a:visited {
  color: #FFF;
}

